<div class="file-row clearfix">
  <a href="{{path}}" class="path-to-file">{{path}}</a> ({{filesize}})
  <a href="{{path}}" class="image-of-file">
    <img src="data:image/png;base64,{{image}}" alt="thumbnail" />
  </a>
  <div class="status-area">
    <span class="status"></span>
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
  <div class="output-jp2-container">
    <a href="#" class="output-jp2"></a> (<span class="jp2-filesize"></span>)
  </div>
</div>
